{% extends "../public/base.html" %}

{% block main %}

{% include "../public/record_header.html" %}

<div class="pure-g" >
    <div class="pure-u-1-1" >
        <div>
            <form class="pure-form m-header-form" method="post" action="/record/rest?db={{ dbs_value }}&coll={{ coll_value }}">

                {% if query_status == 'error' %}
                <p class="query-info-sign">请输入数据</p>
                {% end %}

                {% if query %}
                    {% if query_status == 'error' %}
                        <textarea class="query-info-sign" style="height:150px;" cols="70" name="query">{{ query }}</textarea>
                    {% else %}
                        <textarea style="height:150px;" cols="70" name="query">{{ query }}</textarea>
                    {% end %}

                {% else %}
                <textarea style="height:150px;" cols="70" name="query">{
                    {{ hh }}
                }</textarea>
                {% end %}


                {% for i in query %}
                    <span class="key" style="width:150px;">{{ i }}:</span><input type="text" name="{{ i }}" value=""><br/>
                {% end %}



                <fieldset>
                    <input class="pure-button" type="reset" value="清空"/>
                    <input class="button-secondary pure-button" type="submit" value="提交"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>


{% end %}


{% block script %}
<script>
// 删除数据
var coll=$(".delete-coll-data");
coll.on("click", function(){
    var div=$(this).attr("data-div");
    var url=$(this).attr("data-href");

    swal({
            title: "您确定要删除么?",
            text: "",
            type: "warning",
            cancelButtonText: "取消",
            showCancelButton: true,
            showButtonText: '确定',
            confirmButtonColor: '#ca3c3c',
            confirmButtonText: '确定',
            closeOnConfirm: false
        },
        function(){
            $.get(url, function(data){
                if(data.data == 'yes'){
                    swal('删除成功','','success');
                    $("#"+div).slideUp("fast");
                }
            });
        }
    );

});




</script>
{% end %}