{% extends "../public/base.html" %}

{% block main %}

 <div class="pure-g" >
     <div class="pure-u-1-1" >

        <form class="pure-form m-header-form" method="post" action="">
            <fieldset>
                <legend>
                    <div class="pure-menu pure-menu-open pure-menu-horizontal">
                        <ul>
                            <li><a href="#">服务器</a></li>
                            <li><a href="#">状态</a></li>
                            <li class="pure-menu-selected"><a href="#">数据库</a></li>
                            <li><a href="#">进程</a></li>
                            <li><a href="#">命令</a></li>
                            <li><a href="#">代码执行</a></li>
                            <li><a href="#">主从</a></li>
                        </ul>
                    </div>
                </legend>
            </fieldset>
        </form>
     </div>
 </div>

<div class="pure-g" >
    <div class="pure-u-1-1" >
        <div>

            <table class="pure-table  pure-table-bordered van-float">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>大小</th>
                        <th>存储容量</th>
                        <th>数据大小</th>
                        <th>索引的大小</th>
                        <th>收藏</th>
                        <th>对象</th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% end %}