{% extends "../public/base.html" %}

{% block main %}

 <div class="pure-g" >
     <div class="pure-u-1-1" >
        <form class="pure-form m-header-form" method="post" action="">
            <fieldset>
                <legend>
                    <div class="pure-menu pure-menu-open pure-menu-horizontal">
                        <ul>
                            <li class=""><a href="#">查询[Array|JSON]</a></li>
                            <li><a href="#">History</a></li>
                            <li><a href="#">刷新</a></li>
                            <li><a href="#">插入</a></li>
                            <li><a href="#">清除</a></li>
                            <li><a href="#">新字段</a></li>
                            <li><a href="#">统计</a></li>
                            <li><a href="#">导出</a></li>
                            <li><a href="#">导入</a></li>
                            <li><a href="#">属性</a></li>
                            <li><a href="#">索引</a></li>
                            <li><a href="#">更名</a></li>
                            <li><a href="#">复制</a></li>
                            <li><a href="#">克隆</a></li>
                            <li><a href="#">校验</a></li>
                            <li><a href="#">删除</a></li>
                        </ul>
                    </div>
                </legend>
                <textarea style="height:160px;" cols="70" rows="10">{
                }</textarea>
            </fieldset>
        </form>
     </div>
 </div>

<div class="pure-g" >
    <div class="pure-u-1-1" >
        <div>
            <form class="pure-form m-header-form" method="post" action="">
                <fieldset>
                    <legend>
                    </legend>
                </fieldset>
            </form>
        </div>

        <div>
            {{ pageHtml}}

            <div class="pure-u-23-24 van-coll-table">
                <table class="van-coll-table">
                    <tbody>
                        {% for i in d %}
                        <tr>
                            <td class="van-coll-table-td-num">#1</td>
                            <td class="van-coll-table-td-data">
                                <div>

                                    <p class="van-coll-table-cz">
                                        <span><a href="#">更新</a></span>
                                        <span><a href="#">删除</a></span>
                                        <span><a href="#">新字段</a></span>

                                        <span><a href="#">刷新</a></span>
                                        <span><a href="#">文本</a></span>
                                        <span><a href="#">复制</a></span>
                                        <span><a href="#">复制</a></span>
                                    </p>
                                    <p class="van-coll-table-ys">
                                        <input type="text" value='{
                                          "kind": "Other Rabbits",
                                          "number": "9912",
                                          "char": "#",
                                          "tag": "other rabbits",
                                          "parent_number": "12",
                                          "cn_name": "",
                                          "desc": "Other rabbits as pets.\r\n"
                                        }'>

                                    </p>

                                    <div class="van-coll-table-json">
                                        <p class="k">{</p>

                                        <p class="v">
                                            <span class="key">"_id"</span>
                                            <span class="mh">:</span>
                                            <span class="type">ObjectId(</span>
                                            <span class="val">"543650c3a5e7360f934323ae"</span>
                                            <span class="type">)</span>
                                        </p>
                                        <p class="v">
                                            <span class="key">"title"</span>
                                            <span class="mh">:</span>
                                            <span class="val">"用户统计"</span>
                                        </p>
                                        <p class="v">
                                            <span class="key">"url"</span>
                                            <span class="mh">:</span>
                                            <span class="val">"/monitor/user"</span>
                                        </p>
                                        <p class="v">
                                            <span class="key">"type"</span>
                                            <span class="mh">:</span>
                                            <span class="type">NumberInt(</span>
                                            <span class="val">2</span>
                                            <span class="type">)</span>
                                        </p>


                                        <p class="k">}
                                        </p>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% end %}


                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div>

{% end %}