<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="robots" content="noindex,nofollow">
    <meta name="googlebot" content="noimageindex">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <link rel="shortcut icon" href="{{ static_url('img/logo.ico') }}" type="image/x-icon">
    <link href="{{ static_url('css/pure-min.css') }}" rel="stylesheet" >
    <link href="{{ static_url('css/show.css') }}" rel="stylesheet" >
    <!--<link href="{{ static_url('css/sweet-alert.css') }}" rel="stylesheet" type="text/css" >-->
    <link rel="stylesheet" href="{{ static_url('css/side-menu.css') }}">

    <title>index</title>

    {% block head %}
    {% end %}

</head>
<body>

    <div id="layout">
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="#">BO-CMS</a>

                <ul>

                    <li class=" {% if nowurl == '/' %} pure-menu-selected {% end %} ">
                        <a href="/">概况</a>
                    </li>

                    <li class=" {% if nowurl == '/user/num' %} pure-menu-selected {% end %} ">
                        <a href="/user/num">用户</a>
                    </li>

                    <li class=" {% if nowurl == '/user/active/day' %} pure-menu-selected {% end %} menu-item-divided">
                        <a href="/user/active/day">日活跃</a>
                    </li>

                    <li class=" {% if nowurl == '/user/active/week' %} pure-menu-selected {% end %} ">
                        <a href="/user/active/week">周活跃</a>
                    </li>

                    <li class=" {% if nowurl == '/user/active/moon' %} pure-menu-selected {% end %} ">
                        <a href="/user/active/moon">月活跃</a>
                    </li>

                    <li class=" {% if nowurl == '/user/attribute' %} pure-menu-selected {% end %} menu-item-divided">
                        <a href="/user/attribute">用户属性</a>
                    </li>

                    <li class=" {% if nowurl == '/user/change' %} pure-menu-selected {% end %} ">
                        <a href="/user/change">新用户转化</a>
                    </li>

                    <li class=" {% if nowurl == '/user/remain' %} pure-menu-selected {% end %} ">
                        <a href="/user/remain">新用户留存</a>
                    </li>

                    <li class=" {% if nowurl == '/user/interact' %} pure-menu-selected {% end %} menu-item-divided">
                        <a href="/user/interact">互动</a>
                    </li>

                    <li class=" {% if nowurl == '/user/evaluation' %} pure-menu-selected {% end %} ">
                        <a href="/user/evaluation">评价</a>
                    </li>

                    <li class=" {% if nowurl == '/user/other' %} pure-menu-selected {% end %} ">
                        <a href="/user/other">其他</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="main">

                {% block body %}

                {% end %}

        </div>
    </div>

    <script src="{{ static_url('js/ui.js', v=1) }}" ></script>
    <script src="{{ static_url('js/jquery-1.9.1.min.js', v=1) }}" ></script>
    <!--<script src="{{ static_url('js/sweet-alert.min.js') }}"></script>-->
    <script src="{{ static_url('js/show.min.js') }}" ></script>

{% block script %}
{% end %}

</body>
</html>
