
 <div class="pure-g" >
     <div class="pure-u-1-1" >
        <form class="pure-form m-header-form" method="post" action="">
            <fieldset>
                <legend>
                    <div class="pure-menu pure-menu-open pure-menu-horizontal">
                        <ul>
                            <li><a href="#">History</a></li>
                            <li><a href="#">刷新</a></li>
                            <li><a href="#">插入</a></li>
                            <li><a href="#">清除</a></li>
                            <li><a href="#">新字段</a></li>
                            <li><a href="#">统计</a></li>
                            <li><a href="#">导出</a></li>
                            <li><a href="#">导入</a></li>
                            <li><a href="#">属性</a></li>
                            <li><a href="#">索引</a></li>
                            <li><a href="#">更名</a></li>
                            <li><a href="#">复制</a></li>
                            <li><a href="#">克隆</a></li>
                            <li><a href="#">校验</a></li>
                            <li><a href="#">删除</a></li>
                        </ul>
                    </div>
                </legend>
            </fieldset>
        </form>
     </div>
 </div>